<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uh</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root">
        <div id="statistic">
            <div id="my_dataviz" class="statistic">
                <h2>Users By Country</h2>
            </div>
            <div id="age_chart" class="statistic">
                <h2>Users By Age</h2>

            </div>
        </div>
       
    </div>

        



    <script type="module" src="countrybar.js"></script>
    <script type="module" src="agebar.js"></script>
    <script src="d3.v7.js"  charset="utf-8"></script>
    <script>
        
    </script>

</body>
</html>